* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  font-family: 'Mukta', sans-serif;
  background: #fff;
  color: #607290;
}

.isError {
  color: #607290;
  font-size: 13px;
  margin-top: 6px;
  line-height: 14px;
  font-family: 'Mukta', sans-serif;
}

.isError--reverse {
  display: inline-block;
  color: #fff;
  font-size: 11px;
  margin: 5px 0 15px 0;
  line-height: 13px;
  font-family: 'Mukta', sans-serif;
}

.naira-sign {
  text-decoration: double line-through;
}